.container{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .form{
        min-width: 200px;
        width:60%;
        .form-item{
            width:100%;
        }
    }
}